/* NAV BAR */

.hideNav {   
    display: none !important;
}

#navbar a:hover {
  background-color: #ddd;
}

.borderBottom {
    border-bottom: 2px solid black;
    padding: 0;
}

.form-control:focus {
  border: 4px solid #30368c !important;
}

/* BODY */

.mainBackGroundColor {
    background-color: #273087 !important;
    border-color: #273087 !important;
}

.mainColor {
    color: #273087 !important;
    border-color: #273087 !important;
}

.homeRectFooter {
        margin-bottom: -5px !important;
}


/* FOOTER */

.borderTop {
    border-top: 2px solid black;
    padding: 0;
}

.footerColor {
    background-color: #e9ecef;
}